.page_add-contact{
    box-shadow: 5px 5px 1px rgba($blue, $alpha: 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #fff;
    padding: 20px 60px;
    &-item{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_block-message{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    & label{
        width: 150px;
        text-align: center;
        padding: 30px 0;
        font-size: 1.3rem;
    }
    & input, & select{
        font-size: 1.1rem;
        margin: 10px;
        display: block;
        outline: none;
        border: none;
        box-shadow: 5px 5px 1px rgba($blue, $alpha: 1);
        padding: 10px;
        width: 100%;
        color: $blue;
        border-radius: 10px;
        background: rgb(236, 236, 236);
    }
    & select{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &>option{
            outline: none;
            &:hover{
                border: none;
                background: $blue;
            }
        }
    }
    &__button-bar{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        width: 100%;
        & button{
            padding: 10px;
            margin: 0 10px;
            border-radius: 10px;
            outline: none;
            border: 2px solid $blue;
            background: #fff;
            color: $blue;
            font-size: 1.3rem;
            font-weight: 600;
            transition: .3s;
            cursor: pointer;
            &:hover{
                color: #fff;
                background: $blue;
            }
        }
    }
}